In [1]:
import warnings
warnings.filterwarnings('ignore')

import pandas as pd
import numpy as np

from sklearn.pipeline import Pipeline,FeatureUnion
from sklearn.base import BaseEstimator,TransformerMixin

from mypipes import *

In [2]:
train_file=r'C:\Users\chirag\Desktop\ML IITK\ML Intro\DATA\rg_train.csv'
test_file=r'C:\Users\chirag\Desktop\ML IITK\ML Intro\DATA\rg_test.csv'

bd_train=pd.read_csv(train_file)
bd_test=pd.read_csv(test_file)

In [3]:
bd_train.head()

,REF_NO,children,age_band,status,occupation,occupation_partner,home_status,family_income,self_employed,self_employed_partner,...,Investment.Tax.Saving.Bond,Home.Loan,Online.Purchase.Amount,Revenue.Grid,gender,region,Investment.in.Commudity,Investment.in.Equity,Investment.in.Derivative,Portfolio.Balance
0,2148,1,45-50,Partner,Professional,Professional,Rent Privately,">=35,000",Yes,Yes,...,7.49,2.48,0.0,2,Female,South West,65.87,9.27,30.93,87.48
1,8099,1,61-65,Partner,Retired,Retired,Own Home,"<12,500, >=10,000",No,No,...,0.00,3.99,0.0,2,Female,Unknown,42.46,4.49,26.23,110.73
2,6611,3,31-35,Partner,Professional,Professional,Own Home,">=35,000",No,No,...,0.00,0.00,0.0,2,Male,East Anglia,75.38,0.00,26.66,127.57
3,1950,Zero,55-60,Partner,Professional,Professional,Own Home,">=35,000",No,No,...,2.00,0.00,0.0,2,Female,North West,34.78,6.91,29.24,33.79
4,10857,2,51-55,Partner,Manual Worker,Manual Worker,Own Home,"<27,500, >=25,000",Yes,Yes,...,0.00,0.00,0.0,2,Female,South West,48.58,9.58,20.65,56.17

In [4]:
bd_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8124 entries, 0 to 8123
Data columns (total 32 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   REF_NO                           8124 non-null   int64
 1   children                         8124 non-null   object
 2   age_band                         8124 non-null   object
 3   status                           8124 non-null   object
 4   occupation                       8124 non-null   object
 5   occupation_partner               8124 non-null   object
 6   home_status                      8124 non-null   object
 7   family_income                    8124 non-null   object
 8   self_employed                    8124 non-null   object
 9   self_employed_partner            8124 non-null   object
 10  year_last_moved                  8124 non-null   int64
 11  TVarea                           8124 non-null   object
 12  post_code                        8124 non-null   object
 13  post_area                        8124 non-null   object
 14  Average.Credit.Card.Transaction  8124 non-null   float64
 15  Balance.Transfer                 8124 non-null   float64
 16  Term.Deposit                     8124 non-null   float64
 17  Life.Insurance                   8124 non-null   float64
 18  Medical.Insurance                8124 non-null   float64
 19  Average.A.C.Balance              8124 non-null   float64
 20  Personal.Loan                    8124 non-null   float64
 21  Investment.in.Mutual.Fund        8124 non-null   float64
 22  Investment.Tax.Saving.Bond       8124 non-null   float64
 23  Home.Loan                        8124 non-null   float64
 24  Online.Purchase.Amount           8124 non-null   float64
 25  Revenue.Grid                     8124 non-null   int64
 26  gender                           8124 non-null   object
 27  region                           8124 non-null   object
 28  Investment.in.Commudity          8124 non-null   float64
 29  Investment.in.Equity             8124 non-null   float64
 30  Investment.in.Derivative         8124 non-null   float64
 31  Portfolio.Balance                8124 non-null   float64
dtypes: float64(15), int64(3), object(14)
memory usage: 2.0+ MB

In [5]:
# REF_NO : drop 
# children : covert zero to 0 and 4+ to 4 then convert to numeric
# age_band : 71+->71, Unknown:NA, rest: split and average
# status, occupation, occupation_partner, home_status : create dummies with freq cutoff
# family_income: string processing to remove (,<,>=), 35000:35000, 4000:4000, unknown:NA, rest: split average
# self_employed,self _employed_partner: dummies
# year_last_moved: keep as it is
# TVarea : dummy
# post_code, post_area : drop (should try group categoty on the basis of target variable)
# Average.Credit.Card.Transaction, Balance.Transfer, Term.Deposit, Life.Insurance, Medical.Insurance,
# Average.A.C.Balance, Personal.Loan,Investment.in.Mutual.Fund,
# Investment.Tax.Saving.Bond, Home.Loan, Online.Purchase.Amount,
# Investment.in.Commudit, Investment.in.Equity, Investment.in.Derivative, Portfolio.Balance : as it is 
# revenue.grid : target
# gender : dummies
# region : dummies

In [6]:
bd_train.columns

Index(['REF_NO', 'children', 'age_band', 'status', 'occupation',
       'occupation_partner', 'home_status', 'family_income', 'self_employed',
       'self_employed_partner', 'year_last_moved', 'TVarea', 'post_code',
       'post_area', 'Average.Credit.Card.Transaction', 'Balance.Transfer',
       'Term.Deposit', 'Life.Insurance', 'Medical.Insurance',
       'Average.A.C.Balance', 'Personal.Loan', 'Investment.in.Mutual.Fund',
       'Investment.Tax.Saving.Bond', 'Home.Loan', 'Online.Purchase.Amount',
       'Revenue.Grid', 'gender', 'region', 'Investment.in.Commudity',
       'Investment.in.Equity', 'Investment.in.Derivative',
       'Portfolio.Balance'],
      dtype='object')

In [7]:
num_vars = list(bd_train.select_dtypes(exclude=['object']).columns)

In [8]:
num_vars

['REF_NO',
 'year_last_moved',
 'Average.Credit.Card.Transaction',
 'Balance.Transfer',
 'Term.Deposit',
 'Life.Insurance',
 'Medical.Insurance',
 'Average.A.C.Balance',
 'Personal.Loan',
 'Investment.in.Mutual.Fund',
 'Investment.Tax.Saving.Bond',
 'Home.Loan',
 'Online.Purchase.Amount',
 'Revenue.Grid',
 'Investment.in.Commudity',
 'Investment.in.Equity',
 'Investment.in.Derivative',
 'Portfolio.Balance']

In [9]:
num_vars=[_ for _ in num_vars if _ not in ['REF_NO','Revenue.Grid']]

In [10]:
num_vars

['year_last_moved',
 'Average.Credit.Card.Transaction',
 'Balance.Transfer',
 'Term.Deposit',
 'Life.Insurance',
 'Medical.Insurance',
 'Average.A.C.Balance',
 'Personal.Loan',
 'Investment.in.Mutual.Fund',
 'Investment.Tax.Saving.Bond',
 'Home.Loan',
 'Online.Purchase.Amount',
 'Investment.in.Commudity',
 'Investment.in.Equity',
 'Investment.in.Derivative',
 'Portfolio.Balance']

In [11]:
cat_vars=list(bd_train.select_dtypes(include=['object']).columns)

In [12]:
cat_vars

['children',
 'age_band',
 'status',
 'occupation',
 'occupation_partner',
 'home_status',
 'family_income',
 'self_employed',
 'self_employed_partner',
 'TVarea',
 'post_code',
 'post_area',
 'gender',
 'region']

In [13]:
cat_vars=[_ for _ in cat_vars if _ not in 
         ['children','age_band','post_code','post_area','family_income']]

In [14]:
cat_vars

['status',
 'occupation',
 'occupation_partner',
 'home_status',
 'self_employed',
 'self_employed_partner',
 'TVarea',
 'gender',
 'region']

In [15]:
p1=pdPipeline([
    ('var_select',VarSelector(num_vars)),
    ('missing_trt',DataFrameImputer())
])

p2=pdPipeline([
    ('var_select',VarSelector(cat_vars)),
    ('missing_trt',DataFrameImputer()),
    ('create_dummies',get_dummies_Pipe(70))
])

p3=pdPipeline([
    ('var_select',VarSelector(['age_band'])),
    ('custom_fico',custom_age_band()),
    ('missing_trt',DataFrameImputer())
])

p4=pdPipeline([
    ('var_select',VarSelector(['family_income'])),
    ('custom_fico',custom_family_income()),
    ('missing_trt',DataFrameImputer())
])

p5=pdPipeline([
    ('var_select',VarSelector(['children'])),
    ('string_clean1',string_clean(replace_it='Zero',replace_with='0')),
    ('string_clean2',string_clean(replace_it='4+',replace_with='4')),
    ('convert_to_numeric',convert_to_numeric()),
    ('missing_trt',DataFrameImputer())
])

In [16]:
data_pipe=FeatureUnion([
    ('num',p1),
    ('obj_to_dum',p2),
    ('age_band',p3),
    ('family_income',p4),
    ('children',p5)
])

In [17]:
x_train=pd.DataFrame(data=data_pipe.fit_transform(bd_train),
                    columns=data_pipe.get_feature_names())

In [18]:
x_test=pd.DataFrame(data=data_pipe.transform(bd_test),
                   columns=data_pipe.get_feature_names())

In [19]:
bd_train['Revenue.Grid'].value_counts(dropna=False)

2    7261
1     863
Name: Revenue.Grid, dtype: int64

In [20]:
y_train=(bd_train['Revenue.Grid']==1).astype(int)

In [21]:
x_train.shape

(8124, 71)

In [22]:
x_test.shape

(2031, 71)

In [23]:
from sklearn.linear_model import LogisticRegression

In [24]:
params={'class_weight':['balanced',None],
        'penalty':['l2'],
        'C':[0.0001,0.0005,0.001,0.005,0.01,0.05,0.1,1,2,5] 
}

In [25]:
model=LogisticRegression(fit_intercept=True)

In [26]:
from sklearn.model_selection import GridSearchCV

In [27]:
grid_search=GridSearchCV(model,
                        param_grid=params,
                        cv=10,
                        scoring="roc_auc",
                        n_jobs=-1,
                        verbose=20)

In [28]:
grid_search.fit(x_train,y_train)

Fitting 10 folds for each of 20 candidates, totalling 200 fits

GridSearchCV(cv=10, estimator=LogisticRegression(), n_jobs=-1,
             param_grid={'C': [0.0001, 0.0005, 0.001, 0.005, 0.01, 0.05, 0.1, 1,
                               2, 5],
                         'class_weight': ['balanced', None],
                         'penalty': ['l2']},
             scoring='roc_auc', verbose=20)

In [29]:
grid_search.best_estimator_

LogisticRegression(C=0.0005, class_weight='balanced')

In [30]:
logr=grid_search.best_estimator_

In [31]:
def report(results,n_top=3):
    for i in range(1,n_top+1):
        candidates=np.flatnonzero(results['rank_test_score']==i)
        for candidate in candidates:
            print("Model with rank: {0}".format(i))
            print("Mean Validation Score: {0:.6f} (std: {1:.6f})".format(
                    results['mean_test_score'][candidate],
                    results['std_test_score'][candidate]))
            print("Parameters: {0}".format(results['params'][candidate]))
            print("")

In [32]:
report(grid_search.cv_results_,5)

Model with rank: 1
Mean Validation Score: 0.951928 (std: 0.013743)
Parameters: {'C': 0.0005, 'class_weight': 'balanced', 'penalty': 'l2'}

Model with rank: 2
Mean Validation Score: 0.951387 (std: 0.013879)
Parameters: {'C': 0.05, 'class_weight': 'balanced', 'penalty': 'l2'}

Model with rank: 3
Mean Validation Score: 0.950887 (std: 0.013145)
Parameters: {'C': 0.005, 'class_weight': 'balanced', 'penalty': 'l2'}

Model with rank: 4
Mean Validation Score: 0.950519 (std: 0.013933)
Parameters: {'C': 0.0001, 'class_weight': 'balanced', 'penalty': 'l2'}

Model with rank: 5
Mean Validation Score: 0.950274 (std: 0.013001)
Parameters: {'C': 2, 'class_weight': 'balanced', 'penalty': 'l2'}

In [33]:
logr.fit(x_train,y_train)

LogisticRegression(C=0.0005, class_weight='balanced')

In [34]:
(logr.coef_[0]==0).sum()

0

In [35]:
list(zip(x_train.columns,logr.coef_[0]))

[('num__year_last_moved', -0.0010428745965502585),
 ('num__Average.Credit.Card.Transaction', 0.021084288096046972),
 ('num__Balance.Transfer', -0.007306171394717334),
 ('num__Term.Deposit', -0.018671109275666974),
 ('num__Life.Insurance', 0.010549665723859862),
 ('num__Medical.Insurance', -0.009707844462505421),
 ('num__Average.A.C.Balance', -0.010223827707548734),
 ('num__Personal.Loan', -0.037292768069571984),
 ('num__Investment.in.Mutual.Fund', -0.00275690741807666),
 ('num__Investment.Tax.Saving.Bond', 0.08484068095676131),
 ('num__Home.Loan', -0.019110033108242868),
 ('num__Online.Purchase.Amount', 0.04913562751860154),
 ('num__Investment.in.Commudity', -0.000810247290492203),
 ('num__Investment.in.Equity', 0.010764840905584286),
 ('num__Investment.in.Derivative', 0.005902415551826779),
 ('num__Portfolio.Balance', 0.004930157609549365),
 ('obj_to_dum__status_Partner', 0.00014511594945676792),
 ('obj_to_dum__status_Single/Never Married', -1.0852266405570701e-05),
 ('obj_to_dum__status_Divorced/Separated', -4.9083860839651845e-05),
 ('obj_to_dum__status_Widowed', -0.00016560102859974822),
 ('obj_to_dum__occupation_Professional', -3.692358497104498e-05),
 ('obj_to_dum__occupation_Retired', -9.639567154961818e-05),
 ('obj_to_dum__occupation_Secretarial/Admin', -0.0001642031347730405),
 ('obj_to_dum__occupation_Housewife', -5.329638267398562e-06),
 ('obj_to_dum__occupation_Business Manager', 0.00010558432372317825),
 ('obj_to_dum__occupation_Manual Worker', 6.922189891016684e-05),
 ('obj_to_dum__occupation_Unknown', 4.362995733856666e-05),
 ('obj_to_dum__occupation_Other', -1.4969629982555738e-05),
 ('obj_to_dum__occupation_partner_Unknown', -0.00013592819954023108),
 ('obj_to_dum__occupation_partner_Professional', 9.537158287982071e-05),
 ('obj_to_dum__occupation_partner_Retired', -0.000177804684225131),
 ('obj_to_dum__occupation_partner_Manual Worker', 6.232743004806376e-05),
 ('obj_to_dum__occupation_partner_Business Manager', -1.3468772698801252e-05),
 ('obj_to_dum__occupation_partner_Secretarial/Admin', 8.040753158777077e-05),
 ('obj_to_dum__occupation_partner_Housewife', -7.286424235138844e-05),
 ('obj_to_dum__occupation_partner_Other', 3.2967992989926685e-05),
 ('obj_to_dum__home_status_Own Home', -7.890994382479131e-06),
 ('obj_to_dum__home_status_Rent from Council/HA', 7.908607159932851e-06),
 ('obj_to_dum__home_status_Rent Privately', -4.283418197812417e-05),
 ('obj_to_dum__home_status_Live in Parental Hom', -3.189768894721068e-05),
 ('obj_to_dum__self_employed_No', -0.00024980400178789043),
 ('obj_to_dum__self_employed_partner_No', -0.0003118161431569965),
 ('obj_to_dum__TVarea_Central', -7.230237349783699e-05),
 ('obj_to_dum__TVarea_Carlton', -9.626736383554808e-05),
 ('obj_to_dum__TVarea_Meridian', -0.00024197109714628906),
 ('obj_to_dum__TVarea_Yorkshire', 0.00012055282435855445),
 ('obj_to_dum__TVarea_Granada', 5.889445405248672e-05),
 ('obj_to_dum__TVarea_HTV', -7.954745167371739e-05),
 ('obj_to_dum__TVarea_Anglia', -1.4120665397808935e-05),
 ('obj_to_dum__TVarea_Tyne Tees', 3.7679329980424203e-06),
 ('obj_to_dum__TVarea_Scottish TV', 0.00012198851991964092),
 ('obj_to_dum__TVarea_TV South West', 5.494942506162828e-05),
 ('obj_to_dum__TVarea_Grampian', -5.281676843383523e-06),
 ('obj_to_dum__TVarea_Unknown', 1.2720355808813551e-05),
 ('obj_to_dum__TVarea_Ulster', 1.6256847084295168e-06),
 ('obj_to_dum__gender_Female', -0.00026577031509854234),
 ('obj_to_dum__gender_Male', 0.00010901610399139773),
 ('obj_to_dum__region_South East', -0.0001700013977259887),
 ('obj_to_dum__region_North West', -0.00013730583730040317),
 ('obj_to_dum__region_Unknown', 0.00012448025600697647),
 ('obj_to_dum__region_South West', -2.4782296751346292e-05),
 ('obj_to_dum__region_West Midlands', -6.887109840655677e-05),
 ('obj_to_dum__region_Scotland', 0.00010098461285096259),
 ('obj_to_dum__region_East Midlands', 1.8827272043725882e-05),
 ('obj_to_dum__region_North', -9.042932170269095e-06),
 ('obj_to_dum__region_Wales', 2.5076984746552038e-05),
 ('obj_to_dum__region_East Anglia', 2.2694564912076193e-05),
 ('obj_to_dum__region_Northern Ireland', 1.6256847084295168e-06),
 ('age_band__age_band', -0.008657707312477805),
 ('family_income__fi', -1.7593940720850118e-06),
 ('children__children', -1.3970375425736204e-05)]

In [36]:
logr.predict_proba(x_test)

array([[0.98748641, 0.01251359],
       [0.9535428 , 0.0464572 ],
       [0.96344557, 0.03655443],
       ...,
       [0.96315592, 0.03684408],
       [0.69238443, 0.30761557],
       [0.7856795 , 0.2143205 ]])

In [37]:
logr.classes_

array([0, 1])

In [38]:
cutoffs=np.linspace(0.001,0.99,99)

cutoffs

array([0.001     , 0.01109184, 0.02118367, 0.03127551, 0.04136735,
       0.05145918, 0.06155102, 0.07164286, 0.08173469, 0.09182653,
       0.10191837, 0.1120102 , 0.12210204, 0.13219388, 0.14228571,
       0.15237755, 0.16246939, 0.17256122, 0.18265306, 0.1927449 ,
       0.20283673, 0.21292857, 0.22302041, 0.23311224, 0.24320408,
       0.25329592, 0.26338776, 0.27347959, 0.28357143, 0.29366327,
       0.3037551 , 0.31384694, 0.32393878, 0.33403061, 0.34412245,
       0.35421429, 0.36430612, 0.37439796, 0.3844898 , 0.39458163,
       0.40467347, 0.41476531, 0.42485714, 0.43494898, 0.44504082,
       0.45513265, 0.46522449, 0.47531633, 0.48540816, 0.4955    ,
       0.50559184, 0.51568367, 0.52577551, 0.53586735, 0.54595918,
       0.55605102, 0.56614286, 0.57623469, 0.58632653, 0.59641837,
       0.6065102 , 0.61660204, 0.62669388, 0.63678571, 0.64687755,
       0.65696939, 0.66706122, 0.67715306, 0.6872449 , 0.69733673,
       0.70742857, 0.71752041, 0.72761224, 0.73770408, 0.74779592,
       0.75788776, 0.76797959, 0.77807143, 0.78816327, 0.7982551 ,
       0.80834694, 0.81843878, 0.82853061, 0.83862245, 0.84871429,
       0.85880612, 0.86889796, 0.8789898 , 0.88908163, 0.89917347,
       0.90926531, 0.91935714, 0.92944898, 0.93954082, 0.94963265,
       0.95972449, 0.96981633, 0.97990816, 0.99      ])

In [39]:
logr.predict_proba(x_train)

array([[0.9885378 , 0.0114622 ],
       [0.85351196, 0.14648804],
       [0.92643243, 0.07356757],
       ...,
       [0.47197348, 0.52802652],
       [0.9455578 , 0.0544422 ],
       [0.98365497, 0.01634503]])

In [41]:
logr.classes_

array([0, 1])

In [42]:
train_score=logr.predict_proba(x_train)[:,1]

In [43]:
real=y_train

In [44]:
(train_score>0.2).astype(int)

array([0, 0, 0, ..., 1, 0, 0])

In [45]:
KS_all=[]

for cutoff in cutoffs:
    
    predicted=(train_score>cutoff).astype(int)
    
    TP=((predicted==1) & (real==1)).sum()
    TN=((predicted==0) & (real==0)).sum()
    FP=((predicted==1) & (real==0)).sum()
    FN=((predicted==0) & (real==1)).sum()
    
    P=TP+FN
    N=TN+FP
    
    KS=(TP/P)-(FP/N)
    
    KS_all.append(KS)

In [46]:
list(zip(cutoffs,KS_all))

[(0.001, 0.033466464674287266),
 (0.011091836734693876, 0.09824339719988517),
 (0.021183673469387754, 0.14688306853085653),
 (0.03127551020408163, 0.20097465099901168),
 (0.04136734693877551, 0.25024596077745476),
 (0.05145918367346938, 0.30466995933608065),
 (0.061551020408163265, 0.3698125016856192),
 (0.07164285714285713, 0.43627529286687416),
 (0.08173469387755102, 0.4946124815140428),
 (0.0918265306122449, 0.5373301035405106),
 (0.10191836734693877, 0.572473011340288),
 (0.11201020408163265, 0.6017508417723347),
 (0.12210204081632653, 0.6238671242082376),
 (0.1321938775510204, 0.6481062097336474),
 (0.14228571428571427, 0.6635548605440293),
 (0.15237755102040815, 0.6796113715985799),
 (0.16246938775510203, 0.6900450557056278),
 (0.1725612244897959, 0.7023830706852574),
 (0.1826530612244898, 0.7126552545121534),
 (0.19274489795918365, 0.7199213308516761),
 (0.20283673469387753, 0.7293671822174786),
 (0.2129285714285714, 0.7383191172126584),
 (0.2230204081632653, 0.7448728049646336),
 (0.23311224489795918, 0.7493274678304049),
 (0.24320408163265306, 0.7557434335055312),
 (0.25329591836734694, 0.7625725654112041),
 (0.2633877551020408, 0.7667280059199747),
 (0.27347959183673465, 0.7703325581213496),
 (0.28357142857142853, 0.7758414411953063),
 (0.2936632653061224, 0.7796406874103031),
 (0.3037551020408163, 0.7844609601000153),
 (0.3138469387755102, 0.788260206315012),
 (0.32393877551020406, 0.7919217304531598),
 (0.33403061224489794, 0.7932657574881792),
 (0.3441224489795918, 0.7940019242790297),
 (0.3542142857142857, 0.7958730614181415),
 (0.3643061224489796, 0.8008310561847026),
 (0.37439795918367347, 0.8027829434638906),
 (0.3844897959183673, 0.8011778349483096),
 (0.3945816326530612, 0.8040130266253639),
 (0.40467346938775506, 0.8050008593666094),
 (0.41476530612244894, 0.805518553940535),
 (0.4248571428571428, 0.8062309425280827),
 (0.4349489795918367, 0.8060030547809909),
 (0.4450408163265306, 0.8080119139969516),
 (0.45513265306122447, 0.8085865805076503),
 (0.46522448979591835, 0.8118349384152515),
 (0.47531632653061223, 0.8098974138091996),
 (0.4854081632653061, 0.8093703037051069),
 (0.49549999999999994, 0.8122624673189343),
 (0.5055918367346939, 0.8096933042654108),
 (0.5156836734693877, 0.8087530279307713),
 (0.5257755102040816, 0.8080312238130567),
 (0.5358673469387755, 0.8111988315805818),
 (0.5459591836734693, 0.8097884170786227),
 (0.5560510204081632, 0.807689392192419),
 (0.5661428571428571, 0.8055333953694424),
 (0.576234693877551, 0.8018054837643545),
 (0.5863265306122448, 0.8024371222118261),
 (0.5964183673469388, 0.8024609004151292),
 (0.6065102040816326, 0.7983198225794945),
 (0.6166020408163265, 0.7922744138712783),
 (0.6266938775510204, 0.7913341375366387),
 (0.6367857142857143, 0.7883518082525686),
 (0.6468775510204081, 0.7858396171358181),
 (0.6569693877551019, 0.7879861984286278),
 (0.6670612244897959, 0.7835127045025224),
 (0.6771530612244897, 0.7806680972953012),
 (0.6872448979591836, 0.7815182079596977),
 (0.6973367346938775, 0.7745894948536148),
 (0.7074285714285714, 0.7695651126201138),
 (0.7175204081632652, 0.7667205054128925),
 (0.7276122448979592, 0.7610075127951469),
 (0.737704081632653, 0.75761201728053),
 (0.7477959183673469, 0.7491683613291089),
 (0.7578877551020408, 0.740724705377688),
 (0.7679795918367346, 0.7283346656042544),
 (0.7780714285714285, 0.715669181677123),
 (0.7881632653061224, 0.7008239227237117),
 (0.7982551020408163, 0.6977038713627927),
 (0.8083469387755101, 0.6882391889366564),
 (0.818438775510204, 0.6744149564579605),
 (0.8285306122448979, 0.6611416122866605),
 (0.8386224489795918, 0.6505181813089598),
 (0.8487142857142856, 0.6417990812038409),
 (0.8588061224489796, 0.6269538222504298),
 (0.8688979591836734, 0.6134620058622049),
 (0.8789897959183672, 0.5993053572930382),
 (0.8890816326530612, 0.5867775954427558),
 (0.899173469387755, 0.5712437261051),
 (0.9092653061224489, 0.559461546575835),
 (0.9193571428571428, 0.5472092288792503),
 (0.9294489795918367, 0.5181835431533696),
 (0.9395408163265305, 0.49564021056955504),
 (0.9496326530612245, 0.47472576470462446),
 (0.9597244897959183, 0.45259559835135665),
 (0.9698163265306122, 0.4227673583676854),
 (0.979908163265306, 0.39081631529450744),
 (0.99, 0.33679207780483456)]

In [47]:
mycutoff=cutoffs[KS_all==max(KS_all)]
mycutoff

array([0.4955])

In [48]:
logr.predict_proba(x_test)

array([[0.98748641, 0.01251359],
       [0.9535428 , 0.0464572 ],
       [0.96344557, 0.03655443],
       ...,
       [0.96315592, 0.03684408],
       [0.69238443, 0.30761557],
       [0.7856795 , 0.2143205 ]])

In [49]:
test_score=logr.predict_proba(x_test)[:,1]
test_score

array([0.01251359, 0.0464572 , 0.03655443, ..., 0.03684408, 0.30761557,
       0.2143205 ])

In [50]:
(test_score>mycutoff).astype(int)

array([0, 0, 0, ..., 0, 0, 0])

In [51]:
pd.DataFrame(test_score).to_csv("mySubmission_logistic",index=False)

In [52]:
# hard classes
test_classes=(test_score>mycutoff).astype(int)

In [53]:
test_classes

array([0, 0, 0, ..., 0, 0, 0])